
@{
    ViewData["Title"] = "ItemInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model StoreInventoryManagementContext

<h1>ItemInfo</h1>

<select class="form-control">
    <option>-Select an Item-</option>
    @foreach(Products product in Model.Products)
    {
        <option value="@product.Id">@product.ItemName</option>
    }
</select>

